@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll; /* scroll is moving my page to left because of container with items */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainBanner {
  width: 80vw;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ea2423;
}

.mainBanner__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainBanner__item--noColumn {
  flex-direction: unset;
  position: relative;
}

.mainBanner__item--spaceBetween {
  justify-content: space-between;
}
.mainBanner__text {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  align-self: flex-start;
  letter-spacing: 2px;
  font-weight: lighter;
  margin-left: 10px;
}

.mainBanner__hugeText {
  color: #ffef3a;
  font-size: 175px;
  display: inline-block;
  font-weight: lighter;
  line-height: 70%; /* huge problem with blank space on big font */
}

.mainBanner__hugeText--percent {
  font-size: 120px;
}

.mainBanner__hugeTextContainer {
  display: flex;
  position: relative;
}

.mainBanner__clock {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid white;
}

.mainBanner__clockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.mainBanner__clockCount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mainBanner__clockHour,
.mainBanner__clockElement {
  font-size: 50px;
  font-weight: bold;
}

.mainBanner__clockDescription {
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.mainBanner__circleText {
  text-align: center;
}

.mainBanner__circleElement img {
  transform: none;
}

.mainBanner__circleElement {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(10deg);
  margin: 0px 5px;
}

.mainBanner__circleContainer {
  bottom: -40px;
  right: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.mainBanner__circleElement--noDesktop {
  display: none;
}
.mainBanner__msg {
  padding: 25px 35px;
  background-color: black;
  color: white;
  font-size: 30px;
  position: relative;
  text-transform: uppercase;
  align-self: flex-start;
}

.mainBanner__msg::before {
  position: absolute;
  bottom: -16px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-top: 16px solid black;
  border-right: 26px solid transparent;
}

.mainBanner__clockImageContainer {
  background: url('./images/clock_big.svg');
  height: 250px;
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.mainBanner__clockImageContainerText {
  font-weight: bold;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
  color: white;
}

.mainBanner__clockImageContainerText--yellow {
  color: #ffef3a;
}
.promotionBox {
  width: 80vw;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promotionBox__item {
  align-items: center;
  display: flex;
}
.promotionBox__item--radioButton {
  flex-direction: column;
  margin: 0px 40px;
}

.promotionBox__containerRadioButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotionBox__containerRadioButton input {
  display: none;
}

.promotionBox__containerRadioButton label {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  color: black;
  display: flex;
  margin: 0px 3px;
  justify-content: center;
  align-items: center;
}

.promotionBox__containerRadioButton label:hover {
  background-color: #ebebeb;
}

.promotionBox__containerRadioButton input:checked + label {
  background-color: red;
  color: white;
}

.promotionBox__item--hour {
  font-size: 20px;
  text-transform: uppercase;
}
.promotionBox__item--thursday {
  position: relative;
  font-size: 14px;
  font-weight: bold;
}
.promotionBox__item--thursday::before {
  content: '!';
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: red;
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  left: -30px;
}
.itemsContainer__items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  justify-content: space-between;
  grid-gap: 10px;
  grid-auto-columns: auto;
}

.itemsContainer {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsContainer__itemCount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 50%;
  font-size: 13px;
}

.itemsContainer__itemCount img,
.promotionBox__item img {
  margin-right: 5px;
}
.itemsContainer__itemDiscount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  width: 50%;
  border: 1px solid red;
  height: 100%;
}

.itemsContainer__item {
  height: 460px;
  box-shadow: 0px 0px 0px 1px #ebebeb inset;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemsContainer__itemInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemsContainer__itemInfo--top {
  width: 100%;
  height: 40px;
}

.itemsContainer__itemInfo--image {
  width: 95%;
  justify-content: center;
}

/* it makes image blurred, but is responsive to size of box */
.itemsContainer__itemInfo--image img {
  width: 100%;
}

.itemsContainer__itemInfo--bottom {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  justify-content: center;
}

.itemsContainer__itemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemsContainer__itemActualPrice {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.itemsContainer__itemBeforePrice {
  font-size: 12px;
  text-decoration: line-through;
}

.itemsContainer__itemName {
  font-size: 12px;
}

.itemsContainer__itemCompany {
  font-size: 12px;
  color: grey;
}

.itemsContainer__showMore {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin: 10px 0px;
  border: 1px solid #ebebeb;
  transition: 0.5s border ease-in-out, 0.5s letter-spacing ease-in-out;
}

.itemsContainer__info {
  margin: 10px 0px;
}
.itemsContainer__showMore:hover {
  border: 1px solid red;
  letter-spacing: 1px;
}

.mainBanner__circleContainer {
  bottom: -40px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1440px) {
  .mainBanner__hugeTextContainer {
    display: none;
  }
  .mainBanner__text {
    display: none;
  }

  .mainBanner__circleElement--noDesktop {
    display: flex;
  }

  .mainBanner__circleContainer {
    bottom: -40px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  .mainBanner {
    width: 100vw;
  }
}
@media only screen and (max-width: 780px) {
  .mainBanner {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .mainBanner__item {
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
  .mainBanner__clock {
    border: none;
    border-top: 3px solid white;
  }
  .mainBanner__item--noColumn {
    flex-direction: column;
  }
  .promotionBox {
    width: 100vw;
    flex-direction: column;
    height: auto;
    padding: 15px 0px;
    text-align: center;
  }
  .itemsContainer__items {
    grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
    justify-content: center;
    width: 100vw;
    grid-gap: 5px;
  }

  .itemsContainer__item {
    padding: 5px;
  }

  .mainBanner__circleElement--noDesktop {
    display: flex;
  }
  .itemsContainer {
    width: 100%;
  }

  .itemsContainer__itemDiscount {
    display: none;
  }

  .itemsContainer__itemCount {
    width: 100%;
  }

  .itemsContainer__item {
    height: auto;
  }
  .itemsContainer__itemInfo--bottom {
    align-items: center;
    padding-left: 0;
    text-align: center;
  }
  .mainBanner__clockImageContainer {
    background: none;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .mainBanner__msg {
    align-self: center;
    width: 100%;
    padding: 25px 0px;
    text-align: center;
  }

  .mainBanner__msg::before {
    display: none;
  }

  .mainBanner__circleText--red {
    font-size: 26px;
    font-weight: bold;
    color: red;
  }

  .mainBanner__circleElement {
    position: relative;
    bottom: 10px;
    margin: 0px 5px;
  }

  .mainBanner__circleContainer {
    bottom: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .mainBanner__hugeText {
    display: none;
  }

  .mainBanner__hugeText--percent {
    font-size: 70px;
  }

  .mainBanner__text {
    display: none;
  }

  .promotionBox__item--thursday {
    display: none;
  }
}
